<br><br>
<div class="row ">

	<div class="col-sm-12" >
	    <div class="page-header" style="text-align:center;">
	         <h1 class="lead  pulled-down-sm">What is your size?</h1>
	    </div>
	</div>

 
</div>

<div class="ajaxable row">
    <div class="col-sm-12 marginized">
        <button type='button' class='btn btn-danger col-xs-12'> X - SMALL </button>
        <button type='button' class='btn btn-danger col-xs-12'> SMALL </button>
        <button type='button' class='btn btn-danger col-xs-12'> MEDIUM </button>
        <button type='button' class='btn btn-danger col-xs-12'> LARGE </button>
        <button type='button' class='btn btn-danger col-xs-12'> X - LARGE </button>


    </div>


</div>
<br><br>
<div class="row">
	<div class="col-xs-6">
	    <button type='button' class='btn btn-warning col-xs-12'><span class="glyphicon glyphicon-cog"></span> &nbsp;CUSTOMIZE </button>
	</div>

	<div class="col-xs-6">
	    <button type='button' class='btn btn-success col-xs-12'>NEXT&nbsp;&nbsp;</button>
	</div>
</div>